.blog-list-container {
  width: 50%;
  margin: 0 auto;
}

.blog-list-container h2 {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.blog-list-container > p {
  margin: 0 0 2rem 0;
}

.blog-item {
  display: block;
  padding: 3rem 2rem;
  margin: 0 0 2rem 0;
  border: 2px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
}

.blog-item h3 {
  font-size: 1.6rem;
}

.blog-item h3:hover {
  text-decoration: underline;
}

.link {
  text-decoration: none;
  color: var(--primary);
}

.link:hover {
  text-decoration: underline;
}

.loading-wrapper {
  max-width: 5rem;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}