DATABASE_URL="postgresql://postgres:postgres@172.17.0.1:5432/blog?schema=public"
SECRET_KEY="supersecretkey69"
# 20 minutes
JWT_EXPIRE="1200"
ENV="dev"
# comma separated
ALLOWED_ORIGINS="http:/localhost:3000"
HOST="localhost"
PORT="3000"